@import "../../color.scss";

.layout {
  border-radius: 3px;
  background-color: var(--GRAY-1);
  padding: 0 5px;
  width: fit-content;
  font-size: 12px;
  color: var(--GRAY-5);
  transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &Interacitve {
    cursor: pointer;

    &:hover {
      background-color: var(--GRAY-2);
    }
  }
}
