@import "../../color.scss";

.input {
  border: 1px solid var(--GRAY-3);
  border-radius: 3px;
  padding: 8px;
  outline: none;
  transition: border-color 0.2s;

  &::placeholder {
    color: var(--GRAY-3);
  }

  &:hover {
    border-color: var(--BLUE-2)
  }

  &:focus {
    border-color: var(--BLUE-3);
  }

  &:disabled {
    background-color: var(--GRAY-1);
    color: var(--GRAY1);
    pointer-events: none;
    cursor: not-allowed;
  }

}
