
$text-size-sm: 16px;
$text-size-md: 20px;
$text-size-lg: 24px;
$text-size-xl: 32px;


.heading--xl {
  font-size: $text-size-xl !important;
}

.heading--lg {
  font-size: $text-size-lg !important;
}

.heading--md {
  font-size: $text-size-md !important;
}

.heading--sm {
  font-size: $text-size-sm !important;
}

.text--bold {
  font-weight: 700 !important;
}