@import "../../color.scss";
@import "../../fonts.scss";

* {
  font-family: "MontserratRegular";
}

.button {
  font-size: 40px;
  padding: 5px;
  background-color: rgba(var(--PRIMARY1));
  color: var(--WHITE);
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;

  svg {
    fill: var(--WHITE);
  }

  &:hover {
    background-color: rgba(var(--PRIMARY1), var(--HOVER-ALPHA));
  }

  &:active {
    background-color: var(--PRIMARY2);
  }

  &:disabled {
    background-color: rgba(var(--PRIMARY1), var(--DISABLED-ALPHA));
    cursor: not-allowed;
  }

  &Disabled {
    background-color: #00a8ef80;
    cursor: not-allowed;
  }

  &Danger {
    background-color: rgba(var(--RED1));

    &:disabled {
      background-color: rgba(var(--RED1), var(--DISABLED-ALPHA));
    }

    &:hover {
      background-color: rgba(var(--RED1), var(--HOVER-ALPHA));
    }

    &:active {
      background-color: var(--RED2);
    }
  }

  &Loading {
    color: transparent;

    svg {
      fill: transparent;
    }
  }
}

.loaderWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #00a8ef80;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 2;
  box-sizing: border-box;
  left: 0;
  background-color: #00a8ef80;
  cursor: not-allowed;

  svg {
    fill: var(--WHITE);
  }
}
